/*Global*/
body {
    height: 1000px;
}
/*Global*/

/*Start Header*/
.header {
    padding: 20px;
}

.header .logo {
    text-align: center;
}

.header .container .row .icons div {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    border: 1px solid #CCC;
    text-align: center;
    transition: all .3s ease-in-out;
}

.header .container .row .icons div i {
    margin-top: 8px;
}

.header .container .row .icons div:hover,
.header .container .row .icons div i:hover {
    background-color: rgb(82, 78, 78);
    color: #FFF;
}

}
.header .container .row .email {
    float: left;
}


@media (min-width: 450px) and (max-width: 767px) {

    .header .container .row .icons {
        text-align: center;
    }



    .header .container .row  .logo {
        margin-top: 10px;
    }

    .header .container .row .email p{
        margin-left: 124px;
    }

}

@media (min-width: 450px) {

    .header .container .row .email p{
        font-size: 19px;
        margin-left: 70px;
        margin-top: 5px;
    }

}

/*End Header*/

/*Start Select*/
.select {
    text-align: center;
    margin-right: 20px;
}
.select .custom-select {
    margin-right: 10px;
}

.search {
    text-align: center;
    margin-top: 20px;
}

.search .btn-primary {
    background: none;
    color: #000;
    width: 100px;
    cursor: pointer;
    margin-right: 42px;
}

.search .btn-primary:hover {
    background-color: rgb(131, 64, 255);
    color: #FFF;
    border: 0;
}

.search .btn-primary i {
    margin-left: 10px;
}
.select .container .row .custom-select {
    margin-top: 20px;
}

.select .container .row .input-group {
    margin-right: 10px;
}

.select .container .row .input-group input {
    margin-top: 21px;
    border-radius: 5px;
}
/*End Select*/

/*Start Table*/
.table {
    margin-top: 50px;
}

.table thead th {
    background: #000;
    color: #FFF;
}

/*End Table*/
/*Start Footer*/
.footer {
    background-color: #3c3838;
    padding: 8px;
}

.footer .container .row .logo {
    margin-top: 10px;
}

.footer .container .row .store {
    margin-top: 28px;
}

@media (min-width: 450px) {

    .footer .container .row .store img{
        margin-bottom: 5px;
    }

}

/*End Footer*/